<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<hr/>
<%= link_to "Редактировать", edit_post_path(@post), :class => 'btn btn-warning' %>
<%= link_to "Удалить", post_path(@post), method: :delete, data: {confirm:"Удалить?"}, :class => 'btn btn-danger' %>
<p>
<h5> Комментарии </h5>
</p>
<hr/>
<% @post.comments.each do |comment| %>
  <div class="alert-alert-light">
    <p><strong> <%= comment.username %> </strong>
                <%= comment.body %>
      <%= link_to "Удалить комментарий", [comment.post, comment], method: :delete, data: {confirm:"Удалить?"}, :class => 'btn btn-link' %>

          </p>
    <hr/>

  </div>
<% end %>

<br/>
<hr/>
<h5> Добавить комментарий </h5>

<%= form_with model: [@post, @post.comments.build], local: true do |form| %>

  <p>
    Пользователь <br>
    <%= form.text_field(:username, {:class => 'form-control'}) %>
  </p>
  <p>
    Текст комментария <br>

    <%= form.text_area(:body, {:class=>'form-control'}) %>
  </p>
  <p>
    <%= form.submit('Добавить комментарий', {:class=>'btn btn-primary'}) %>
  </p>
<%end %>